<div class="default-neat-grid">
  <div class="grid-column-12">
  <%= image_tag("claudia.jpg", :class => "head", :alt => "claudia") %>
  </div>
  <br><br>
  <div class="grid-column-12">
      <%= image_tag("https://via.placeholder.com/50", :class => "grid-column-4 social-media-icon-left", :alt => "placeholder") %>
      <%= image_tag("https://via.placeholder.com/50", :class => "grid-column-4 social-media-icon-centre", :alt => "placeholder") %>
      <%= image_tag("https://via.placeholder.com/50", :class => "grid-column-4 social-media-icon-right", :alt => "placeholder") %>
      <br><br>
  <h2>Claudia Hartman</h2>

  <h3><%= link_to 'Blog', root_path %></h3>
  <h3><%= link_to 'Resume', '#' %></h3>
  <br>
  <h3><%= link_to 'New post', new_post_path%></h3>
  </div>
</div>

